.digitContainer {
    position: relative;
    width: 1ch; /* Set fixed width based on character width */
    text-align: center;
    overflow: hidden;
}

.digit {
    position: relative;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    font-family: "bungee", sans-serif;
}