.shuffleContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.iconContainer {
  position: absolute;
  filter: blur(4px);
}

.iconContainerClear {
  filter: none;
}

.playerDetails {
  margin-left: 12rem;
  opacity: 0;
  font-family: "Bungee", sans-serif;
  color: #fc8b8bff;
  transition: opacity 0.05s ease;
  display: flex;
  gap: 5rem;
  align-items: center;
  justify-content: center;
}

.playerDetailsVisible {
  opacity: 1;
}
