.pageContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  gap: 4rem;
  justify-content: center;
  position: relative; /* Required for absolute positioning */
}
