.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  gap: 2rem;
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  font-size: 1.2rem;
}

.coinsIcon {
  width: 2rem;
  height: 2rem;
}

.playersContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
  background: rgba(34, 45, 50, 1);
  padding: 1rem;
  border-radius: 1rem;
  min-height: 100%;
}

.playerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2rem;
  width: 100%;
  padding: 0.5rem;
  backdrop-filter: blur(2px);
  border-radius: 0.5rem;
}

.playerIcon {
  width: 2.2rem;
  height: 2.2rem;
  margin-right: 0.5rem;
}

.coinIcon {
  width: 1.8rem;
  height: 1.8rem;
}

.playedCoinsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;

  p {
    position: relative;
    top: 0.1rem;
  }
}
