.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  position: absolute;
  bottom: 4rem;
}

.indicator {
  height: 0.75rem;
  background-color: #000000;
  border-radius: 20px;
  cursor: pointer;
}
