.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
}

.ringContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
}

.ring {
  display: flex;
  background: rgb(52, 55, 61);
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.chartContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgb(52, 55, 61);
  padding: 2rem 0.5rem 1rem 0rem;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.titleContainer {
  display: flex;
  align-items: flex-start; /* Aligns to text baseline */
  gap: 1rem;
}

.title {
  width: 100%;
  max-width: 30rem;
  font-size: 1.2rem;
}

.axisVisible {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.axisHidden {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
