.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.countdownContainer {
  font-weight: bold;
  font-family: "bungee", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
}

.count {
  font-size: 6rem;
}

.coinIcon {
    width: 6rem;
    height: 6rem;
}
