.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.countdownContainer {
    font-size: 3rem;
    font-weight: bold;
    font-family: "bungee", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}