.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 1rem;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    position: relative;
}

.roundTitleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.title {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: 'bungee', sans-serif;
    position: absolute;
    top: 2rem;
    opacity: 0;
    display: flex;
    gap: 0.5rem;

    .number {
        color: var(--secondary-accent);
    }
}

.particleContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.subTitle {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: 'bungee', sans-serif;
    position: absolute;
    opacity: 0;
    display: flex;
    gap: 0.5rem;

    .playerCount {
        color: var(--accent);
    }
}

.buttonContainer {
    position: absolute;
    right: 2rem;
    top: 2rem;
}

