.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.barContainer {
  width: 5rem;
  height: 16rem;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  background-color: var(--accent);
}

.bar {
  width: 100%;
  background-color: rgb(44, 71, 100);
  border-radius: 1rem 1rem 0 0;
  position: relative;
  buttom: 0;
}

.text {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "bungee", sans-serif;
}
