.container {
  padding: 4rem;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(18, 1fr);
  grid-template-rows: repeat(12, 1fr);
  position: absolute;
  top: 0;
  left: 0;
}

.playerIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}


.particleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.particle {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}


