.container {
  text-align: center;
  align-items: center;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 1rem;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
}

.iconGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  max-width: 600px;
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(12, 41, 72);
}

.iconContainer {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: rgb(44, 71, 100);
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.selectedIconContainer {
  border-radius: 50%;
  border: 2px solid #fff;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(60, 82, 107);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.shuffleButton {
  padding: 0.5rem 1rem;
  background-color: rgb(12, 41, 72);
  border-radius: 0.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
}
