.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  border: none;
}

.coinsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.octagon {
  color: var(--accent);
  width: 12rem;
  height: 12rem;
}

.digitContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 700;
  font-family: "bungee", sans-serif;
  pointer-events: none;
  user-select: none;
}

.buttonsContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 1.5rem;
  align-items: center;
  width: 100%;
  max-width: 25rem;
}

.buttonsContainer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.singleButtonContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.innerCoinButton {
  color: rgb(0, 161, 189);
}

.outerCoinButton {
  color: rgb(0, 128, 255);
}

.coinButtonText {
  font-size: 1.125rem;
  font-weight: 500;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  gap: 0.1rem;
  font-family: "bungee", sans-serif;
  pointer-events: none;
  user-select: none;
}

.flyingNumber {
  position: absolute;
  font-size: 1.125rem;
  font-weight: 500;
  font-family: "bungee", sans-serif;
  pointer-events: none;
  user-select: none;
  display: flex;
  justify-content: center;
}

.flyingNumber p {
  margin: 0;
}
